/* Hiding TOC everywhere */

.toc-drawer {
    display: none;
}

@media(max-width:52em) /* $content-width + 2* $content-padding */ {
    .content {
        overflow-x: auto;
        width: 100%
    }
}
@media(min-width:82em) /* $full-width */ {
    .content {
        width: 58em; /* $content-width + $sidebar-width */
    }
}